p{
    color: crimson;
    font-size: 30px;
}
#noel{
    color: darkgreen;
    text-align:left ;
}
.mbonge{
    color: darkorange;
    font-size: 40px;
    text-align:left;
}
h1{
    color: darkviolet;
    font-size: medium;
}


}
    
}
